* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}
header {
  background-color: rgba(255, 144, 14, 0.1);
  padding-top: calc(50rem / 16);
  display: flex;
  flex-direction: column;
  align-items: center;
}
header nav {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
h3 {
  color: #131313;
  font-size: 45px;
}
header nav ul {
  list-style-type: none;
  display: flex;
  gap: 2.3rem;
  color: #424242;
  font-size: 18px;
  font-weight: 500;
}
