* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}
/* Header Section */
header {
  background-color: rgba(255, 144, 14, 0.1);
  padding-top: calc(50rem / 16);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
header nav {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
h2 {
  color: #131313;
  font-size: calc(45rem / 16);
}
header nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 2.3rem;
  color: #424242;
  font-size: calc(18rem / 16);
  font-weight: 500;
}
header nav ul li {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}
header nav ul li:hover {
  cursor: pointer;
  background-color: #42424213;
  border-radius: 0.3rem;
  transition: all 0.2s ease;
}
header .banner-text {
  width: 45%;
  text-align: center;
  margin-top: calc(70rem / 16);
}
.banner-text h1 {
  font-size: calc(64rem / 16);
  margin-bottom: 1.2rem;
}
p {
  color: #727272;
  font-size: 1rem;
}
.btn {
  padding: 20px 25px;
  color: white;
  font-size: calc(20rem / 16);
  font-weight: 600;
  background-color: rgba(255, 144, 14, 1);
  border: 2px solid rgba(255, 144, 14, 1);
  border-radius: 0.5rem;
  transition: all 0.2s ease;
}
.btn:hover {
  color: rgba(255, 144, 14, 1);
  background-color: transparent;
  transition: all 0.2s ease;
  cursor: pointer;
}
header .banner-image-container {
  width: 75%;
  margin-top: calc(20rem / 16);
  margin-bottom: calc(45rem / 16);
}
header .banner-image-container img {
  width: 100%;
}

/* Team Section */
main {
  width: 100%;
}
main .team {
  width: 100%;
  padding-top: calc(85rem / 16);
  padding-bottom: calc(130rem / 16);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(73rem / 16);
}
main .team .team-grid {
  width: calc(708rem / 16);
  max-width: 50%;
  aspect-ratio: 1/1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: calc(24rem / 16);
}
main .team .team-grid img {
  width: 100%;
  aspect-ratio: 1/1;
  vertical-align: middle;
}
main .team .team-text {
  display: flex;
  max-width: calc(65000% / 1920);
  flex-direction: column;
  align-items: flex-start;
  gap: calc(24rem / 16);
}
main .team .team-text p {
  margin-bottom: 0.5rem;
}

/* Media queries for responsiveness */
@media screen and (max-width: 480px) {
  header {
    padding: 15px;
  }
  header nav {
    width: 100%;
  }
  header nav ul {
    display: block;
  }
  header nav ul li {
    width: 100%;
    text-align: center;
    background-color: #42424213;
    margin-top: 2px;
    padding: 10px 0;
    border-radius: 3px;
  }
}
/* ২. Small Tablets এবং বড় ফোনের জন্য (৪৮১px থেকে) */
@media screen and (max-width: 768px) {
  header {
    padding: 15px;
  }
  header nav {
    flex-direction: column;
    gap: calc(30rem / 16);
    text-align: center;
  }
  header h2 {
    font-size: 1.5rem;
  }
  header nav ul {
    gap: 10px;
    justify-content: space-between;
  }
  header nav ul li {
    padding: 10px 20px;
  }
  header .banner-text {
    width: 100%;
    margin-top: calc(20rem / 16);
  }
  .banner-text h1 {
    font-size: calc(50rem / 16);
  }
  header .banner-image-container {
    width: 100%;
    margin-top: calc(10rem / 16);
    margin-bottom: 0;
  }
  main .team {
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    padding-top: calc(40rem / 16);
    padding-bottom: calc(50rem / 16);
  }
  main .team .team-text {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  main .team .team-grid {
    max-width: 80%;
  }
}
/*? Features section */

/* ৩. Tablets এবং ছোট Laptops-এর জন্য (৭৬৯px থেকে) */
@media (min-width: 769px) and (max-width: 1024px) {
  header {
    padding: 20px 30px;
  }
  header nav ul {
    gap: 0;
  }
  header .banner-text {
    width: 100%;
    margin-top: calc(40rem / 16);
  }
  .banner-text h1 {
    font-size: calc(55rem / 16);
  }
  header .banner-image-container {
    width: 95%;
    margin-top: calc(10rem / 16);
    margin-bottom: 0;
  }
}

/* ৪. বড় Desktop এবং Monitors-এর জন্য (১০২৫px থেকে) */
@media (min-width: 1025px) {
  header,
  main .team {
    max-width: calc(1920rem / 16); /* কন্টেন্ট অতিরিক্ত ছড়িয়ে পড়া রোধ করতে */
    margin: 0 auto;
  }
}
