* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}
header {
  background-color: rgba(255, 144, 14, 0.1);
  padding-top: calc(50rem / 16);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
header nav {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
h2 {
  color: #131313;
  font-size: calc(45rem / 16);
}
header nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 2.3rem;
  color: #424242;
  font-size: calc(18rem / 16);
  font-weight: 500;
}
header nav ul li {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}
header nav ul li:hover {
  cursor: pointer;
  background-color: #42424213;
  border-radius: 0.3rem;
  transition: all 0.2s ease;
}
header .banner-text {
  width: 45%;
  text-align: center;
  margin-top: calc(70rem / 16);
}
.banner-text h1 {
  font-size: calc(64rem / 16);
  margin-bottom: 1.2rem;
}
p {
  color: #727272;
  font-size: 1rem;
}
.btn {
  padding: 20px 25px;
  color: white;
  font-size: calc(20rem / 16);
  font-weight: 600;
  background-color: rgba(255, 144, 14, 1);
  border: 2px solid rgba(255, 144, 14, 1);
  border-radius: 0.5rem;
  transition: all 0.2s ease;
}
.btn:hover {
  color: rgba(255, 144, 14, 1);
  background-color: transparent;
  transition: all 0.2s ease;
  cursor: pointer;
}
header .banner-image-container {
  width: 75%;
  margin-top: calc(20rem / 16);
  margin-bottom: calc(45rem / 16);
}
header .banner-image-container img {
  width: 100%;
}
